table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #c9bcbc;
}

h2 {
    text-align: center;
}

input[type="text"] {
    padding: 8px;
    margin: 5px;
    width: 40%;
    margin-right: 47px;
}

input[type="tel"] {
    padding: 8px;
    margin: 5px;
    width: 40%;
}

input {
    align-items: center;
}

#tabela-contatos {
    max-width: 45%;
}

button {
    padding: 8px 16px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.form-conteiner {
    text-align: center;
    margin: 20px 0;
}